body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  padding: 20px 0px 10px 0px;
}
h2 {
  padding: 20px 0px 10px 0px;
}
h3 {
  padding: 20px 25px 10px 25px;
}
h4 {
  padding: 20px 0px 10px 0px;
}
h5 {
  padding: 20px 0px 10px 0px;
}
h6 {
  padding: 20px 0px 10px 0px;
}
h7 {
  padding: 20px 0px 10px 0px;
}
h8 {
  padding: 20px 0px 10px 0px;
}
h9 {
  padding: 20px 0px 10px 0px;
}
h10 {
  padding: 20px 0px 10px 0px;
}
